.gamecontainer {
  width: 30%;
  min-width: 25%;
  display: flex;
  flex-direction: row-reverse;
}

.bglist {
  background: #26154a;
  /* background: #fff; */
  width: 90%;
  z-index: 1000;

  height: 80vh;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: flex-end;
  align-self: end;
  text-align: start;
}

.wordlist {
  margin: 0;
  list-style: none;
}

/* .targetWord::marker {
  content: "▶";
} */
.targetWord {
  color: var(--primary, #cf0);
}

/* .indexlist li.targetWord::after {
  content: "▶";
  padding: 0.2rem;
  font-size: 1rem;
} */
.endbar {
  background: #d9d9d9;
  width: 100%;
}

.guessbox {
  width: auto;
  font-size: 16px;
  background: var(--gray2, #888);
  color: var(--gray4, #ddd);
  font-size: 16px;
  padding: 10px;
  z-index: 3333;
  border: none;
}

input.inputcase {
  width: auto;
  
  font-size: 16px;
  /* Set the font size */
  border: none;
  background-color: #f4f4f4;
  /* Set the background color */
  color: #888;
  /* Set the text color */
  font-size: 16px;
  color: blue;
  background-color: #ccff00 !important;
  /* margin: 5px; */
  padding: 10px;
  z-index: 3333;

}

.points {
  font-size: 0.5rem;
}

input.inputcase:focus {
  outline: none !important;
}

.wordlist .targetWord::marker {
  content: "▶" !important;
}

li.wordline {
  font-size: 16px;
  color: #fff !important;
  /* background-color: #ccff00; */
  /* margin: 10px!important; */
  padding: 0.25rem;
  display: flex;
  /* Use flexbox to control layout */
  justify-content: space-between !important;
  /* Align items to either side */
  align-items: center;
  /* Vertically center the content */
  /* padding: 4px; Add some spacing */
  /* border: 1px solid #ccc;  */
}

@media (min-height: 600px) {

  /* Adjust font size for screens up to 768px wide */
  li.wordline {
    font-size: 1.5rem !important;
  }

  .indexlist {
    position: absolute;
    margin-bottom: 4.3rem;
    padding: 0;
  }

  .indexlist li {
    list-style-type: none;
    font-size: 0.5rem !important;
    padding: 0.51rem;
    color: var(--gray3, #bcbcbc);
    font-style: normal;
    line-height: 1rem !important;
  }
}

@media (min-height: 750px) {

  /* Adjust font size for screens up to 576px wide */
  li.wordline {
    font-size: 1.5rem !important;
  }

  .overlaybox {
    height: 12.4rem !important;
    width: 26.5%;
    overflow: hidden;
    top: auto;
    right: auto;
    position: absolute;
    border-top: 3px solid var(--primary, #cf0);
    background: rgba(204, 255, 0, 0.2);
    z-index: 3333;
  }
}

.overlaybox {
  height: 12.4rem !important;
  width: 24%;
  overflow: hidden;
  top: auto;
  right: auto;
  position: absolute;
  border-top: 3px solid var(--primary, #cf0);
  background: rgba(204, 255, 0, 0.2);
  z-index: 3333;
}

.multi-score {
  position: relative;
  text-align: center;
  left: 52%;
  font-size: 96px;
  color: #fff;
  /* left: 52%; Center horizontally by moving the left to the middle */
  transform: translate(-50%, -680%);
  width: 100%;
  font-size: 80px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.startbutton {
  top: 5%;
  transform: translate(110%, 30%);
}


.multi-display {
  display: flex;
  flex-direction: row;
  width: 80%;
  margin: 0 auto;
  height: 100vh;

}

.my-display {
  flex: 3;
  margin: 2rem;
}

.others {
  flex: 7;
  margin: 2rem;
  display: flex;
  flex-direction: column;
  
}

.others-display {
  flex: 2;
  height: 50%;
  display: flex;
  margin-bottom: 2rem;
  flex-direction: row;
}

.other-game {
  flex: 1;
  margin: 2rem;

}

.chat-container {
  flex: 1;
  width: 60%;
  margin: 2rem;
}

input.inputcase-playerName {
  transform: translateY(-800px);
  width: auto;
  
  font-size: 16px;
  /* Set the font size */
  border: none;
  background-color: #f4f4f4;
  /* Set the background color */
  color: #888;
  /* Set the text color */
  font-size: 16px;
  color: blue;
  background-color: #ccff00 !important;
  /* margin: 5px; */
  padding: 10px;
  z-index: 3333;
}

.overlaybox-player {
  height: 12.4rem !important;
  width: 14%;
  overflow: hidden;
  top: auto;
  right: auto;
  position: absolute;
  border-top: 3px solid var(--primary, #cf0);
  background: rgba(204, 255, 0, 0.2);
  z-index: 3333;
}

