.gamecontainer {
  width: 30%;
  min-width: 25%;
  display:flex;
  flex-direction:row-reverse;
}
.bglist {
  background: #26154A;
  /* background: #fff; */
  width: 90%;
  z-index: 1000;

  height: 100vh;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: flex-end;
  align=self:end;
  text-align: start;
}
.wordlist{
  margin:0;
}
.endbar {
  background: #d9d9d9;
  width: 100%;
}
.guessbox{
  width: auto;
  font-size: 16px;
  background: var(--gray2, #888);
  color: var(--gray4, #DDD);
  font-size: 16px;
  padding: 10px;
  z-index:3333;
  border: none;
}
input.inputcase {
  width: auto;

  font-size: 16px; /* Set the font size */
  border: none;
  background-color: #f4f4f4; /* Set the background color */
  color: #888; /* Set the text color */
  font-size: 16px;
  color: blue;
  background-color: #ccff00 !important;
  /* margin: 5px; */
  padding: 10px;
  z-index:3333;
}
.points{
  font-size: 0.5rem;
  
}
input.inputcase:focus{
outline:none!important;
}
.targetWord::marker{
  content:"▶"!important;
}
li.wordline {
  font-size: 16px;
  color: #FFF!important;
  /* background-color: #ccff00; */
  /* margin: 10px!important; */
  padding: 0.25rem;
  display: flex; /* Use flexbox to control layout */
  justify-content: space-between!important; /* Align items to either side */
  align-items: center; /* Vertically center the content */
  /* padding: 4px; Add some spacing */
  /* border: 1px solid #ccc;  */
}
@media (min-height: 600px) {
  /* Adjust font size for screens up to 768px wide */
  li {
    font-size: 1rem!important;
  }
}

@media (min-height: 750px) {
  /* Adjust font size for screens up to 576px wide */
  li {
    font-size: 1.5rem!important;
  }
  .overlaybox{
    height: 12.4rem!important;
    width:26.5%;
    top:auto;
    right:auto;
    position: absolute;
    border-top: 3px solid var(--primary, #CF0);
    background: rgba(204, 255, 0, 0.20);
    z-index:3333;
  }
}
.overlaybox{
  height: 12.4rem!important;
  width:26.5%;
  top:auto;
  right:auto;
  position: absolute;
  border-top: 3px solid var(--primary, #CF0);
  background: rgba(204, 255, 0, 0.20);
  z-index:3333;
}