.gamecontainer {
  display: flex;
  align-self: center;
  height: 100vh;
  min-width:300px;
  width: 100% !important;
  grid-column: 5 / span 4;
  flex-direction: row-reverse !important;
}
.bglist {
  background: #26154a;
  position:relative;
  width: 87.5% !important;
  z-index: 1000;
  height: 100vh !important;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-self: end;
  text-align: start;
}
.status{
  position:absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  align-self:center;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  z-index:1000;
}
.score {
  position: absolute;
  text-align: center;
  top: 20%;
  font-size: 96px;
  color: #fff;

  font-size: 96px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.startbutton {
  position: absolute;
  top: 30%;
}
.gameover{
  color: rgba(255, 255, 255, 0.20);
  font-family: NeoDunggeunmo Pro;
  font-size: 48px;
  font-style: normal;
  font-weight: lighter;
  line-height: normal;
  text-align: center;
  -webkit-text-stroke: 2px  #FFFFFF;
}
 .overlaybox {
  /* height: 12.4rem !important; */
  margin:0;
  width: 87.5%!important;
  top: auto;
  right: auto;
  bottom:72px;
  position: absolute;
  border-top: 3px solid var(--primary, #cf0);
  background: rgba(204, 255, 0, 0.2);
  z-index: 3333;
}
.bglist2 {
  background: #26154a;
  width: 90% !important;
  z-index: 1000;

  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-self: end;
  text-align: start;
}
.displaylayer {
  display: flex;
  flex-direction: column;
  height: 85%;
  top: auto;
  left: auto;
  bottom: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end !important;
  position: absolute;
  color: white;
  background: gray;
  z-index: 3332; 
} 
/* .wordlist {
  margin: 0;
  list-style: none;
} */
.targetWord::marker {
  content: "▶";
} 
/* .targetWord {
  color: var(--primary, #cf0);
} */
/* .indexlist li.targetWord::after {
  content: "▶";
  padding: 0.2rem;
  font-size: 1rem;
} */
.wordlist{
  margin-bottom:0;
}
 .endbar {
  background: #d9d9d9;
  width: 100%;
}
.guessbox {
  width: auto;
  font-size: 16px;
  background: var(--gray2, #888);
  color: var(--gray4, #ddd);
  font-size: 16px;
  padding: 10px;
  z-index: 3333;
  border: none;
}
input.inputcase {
  width: auto;

  font-size: 16px; 
  border: none;
  background-color: #f4f4f4; 
  color: #888; 
  font-size: 16px;
  color: blue;
  background-color: #ccff00 !important;
  padding: 10px;
  z-index: 3334;
}
.points {
  font-size: 0.5rem;
}
input.inputcase:focus {
  outline: none !important;
}
.wordlist .targetWord::marker {
  content: "▶" !important;
}
li.wordline {
  font-size: 16px;
  color: #fff !important;

  padding: 0.25rem;
  display: flex; 
  justify-content: space-between !important; 
  align-items: center; 

} 
@media (min-height: 600px) {
  li.wordline {
    font-size: 1.5rem !important;
  }
  .indexlist {
    position: absolute;
    margin-bottom: 4.3rem;
    padding: 0;
  }
  .indexlist li {
    list-style-type: none;
    font-size: 0.5rem !important;
    padding: 0.51rem;
    color: var(--gray3, #bcbcbc);
    font-style: normal;
    line-height: 1rem !important;
  }
}

@media (min-height: 750px) {
  /* Adjust font size for screens up to 576px wide */
  /* li.wordline {
    font-size: 1.5rem !important;
  } */
  /* .overlaybox {
    height: 12.4rem !important;
    width: 26.5%;
    top: auto;
    right: auto;
    position: absolute;
    border-top: 3px solid var(--primary, #cf0);
    background: rgba(204, 255, 0, 0.2);
    z-index: 3333;
  } */
}


