.gamecontainer {
  background: #757575;
  margin-top: 3%;
  margin-bottom: 3%;
  width: 30% !important;
  min-width: 30%;
  height: 90vh;
  /* height: 800px; */
  display: flex;
  align-self: center;
  flex-direction: column;
}
.bglist {
  background: #986ff0;
  width: 100% !important;
  z-index: 1000;
  height: 80vh;
  /* height: 800px; */
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: flex-end;
  align-self: end;
  text-align: start;
  margin-top: auto;
  margin-bottom: auto;
  /* overflow-y: hidden;
  overflow-x: auto; */
  position: relative;
}
.bglist2 {
  background: #26154a;
  /* background: #fff; */
  width: 90% !important;
  z-index: 1000;
  height: 80vh;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: flex-end;
  align-self: end;
  text-align: start;
}
.displaylayer {
  display: flex;
  flex-direction: column;
  height: 85%;
  /* width: 24%; */
  top: auto;
  left: auto;
  bottom: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end !important;
  position: absolute;
  /* align-self: flex-end; */
  color: white;
  /* background: white; */
  background: gray;
  z-index: 3332; /* Set a higher z-index for the displaylayer */
}

.list-container {
  background: #bcbcbc;
  width: 100%;
  height: inherit;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.wordlist {
  background: #500086;
  margin: 0;
  list-style: none;
}
/* .targetWord::marker {
  content: "▶";
} */
.targetWord {
  color: var(--primary, #cf0);
}
/* .indexlist li.targetWord::after {
  content: "▶";
  padding: 0.2rem;
  font-size: 1rem;
} */
.endbar {
  background: #d9d9d9;
  width: 100%;
}
.guessbox {
  width: auto;
  font-size: 16px;
  background: var(--gray2, #888);
  color: var(--gray4, #ddd);
  font-size: 20px;
  padding: 20px;
  z-index: 3333;
  border: none;
}
input.inputcase {
  width: auto;
  font-size: 16px; /* Set the font size */
  border: none;
  background-color: #f4f4f4; /* Set the background color */
  color: #888; /* Set the text color */
  font-size: 20px;
  color: blue;
  background-color: #ccff00 !important;
  /* margin: 5px; */
  padding: 20px;
  z-index: 3333;
}
.points {
  font-size: 0.5rem;
}
input.inputcase:focus {
  outline: none !important;
}
.wordlist .targetWord::marker {
  content: "▶" !important;
}
.indexlist {
  background: #5b6f01;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0;
  margin: 0;
  height: inherit;
}
li.wordline {
  /* font-size: 25px; */
  font-size: 2.5vh; 
  font-size: min(max(2.5vh, 14px), 28px);
  /* color: #fff !important; */
  /* background-color: #ccff00; */
  /* margin: 10px!important; */
  /* padding: 0.25rem; */
  padding-top: 0.5rem;
  padding-bottom: 0.4rem;
  display: flex; /* Use flexbox to control layout */
  justify-content: space-between; /* Align items to either side */
  align-items: center;
  /* padding: 4px; Add some spacing */
  /* border: 1px solid #ccc;  */
}
.overlaybox {
  width: 100%;
  display: flex;
  flex-direction: column; /* 쌓이는 방향을 수직으로 설정 */
  top: auto;
  right: auto;
  position: absolute;
  border-top: 3px solid var(--primary, #cf0);
  background: rgba(204, 255, 0, 0.2);
  z-index: 3333;
}
.score {
  /* position: absolute; */
  position: absolute;
  text-align: center;
  top: 20%;
  left: 52%;
  font-size: 96px;
  color: #fff;
  /* left: 52%; Center horizontally by moving the left to the middle */
  transform: translate(-50%, -50%);
  font-size: 96px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.startbutton {
}