
.list-title {
  -webkit-text-stroke: 1px white;
  text-align: center;
  font-family: NeoDunggeunmo Pro;
  font-size: 48px;
}

.rank-list {
  -webkit-text-stroke: 1px white;
  text-align: center;
  font-family: NeoDunggeunmo Pro;
  font-size: 24px;
}

.rank-index {
  width: 100%; /* Or whatever you need */
  padding: 5px 9px;
}

.record {
  -webkit-text-stroke: 1px white;
  text-align: center;
  font-family: "NeoDunggeunmo Pro";
  font-size: 24px;
}
.score-save-btn,
.score-nickname-input[type="text"] {
  -webkit-text-fill-color: black;
  color: black;
}

/* WebKit browsers (e.g., Chrome, Safari) */
input::-webkit-input-placeholder {
  color: black;
}

/* Mozilla Firefox 4 to 18 */
input:-moz-placeholder {
  color: black;
}

/* Mozilla Firefox 19+ */
input::-moz-placeholder {
  color: black;
}

/* Internet Explorer 10+ */
input:-ms-input-placeholder {
  color: black;
}

.news-title {
  font-weight: bold;
  line-height: 1.2;
  font-size: 1.5rem;
}

.news-description {
  display: -webkit-box;
  /* -webkit-line-clamp: 2;  */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 1rem;
}

.news-title a,
.news-description a {
  color: inherit;
  text-decoration: none;
}

.news {
  margin: 5% 10% 5% 10%;
}

.list-title,
.today-keyword,
.news-title,
.news-description {
  margin-bottom: 20px;
  color: #CBCBCB;
  /* -webkit-text-stroke: 1px white; */
}

.today-keyword {
  font-size: 2rem;
  margin-top: 1rem;
  margin-bottom: 4rem;
}

.highlight {
  color: #cf0;
}

.my-score-display, .rank-container {
  margin: 5% 10%  5% 10%;
}

.news-title {
  color: rgb(245, 251, 212);
}

.news-description {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.news-description a {
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 2rem;
}


