/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
.Neo{
  font-family: NeoDunggeunmo Pro;
}

select#category option {
  font-family: NeoDunggeunmo Pro;
  backgroundColor: transparent;
}

.targetWord::marker{
  content:"▶";
}
/* CSS for the modal container */
.modal {
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  z-index: 1000; /* Ensure it appears above other content */
}

/* CSS for the modal content */
.modal-content {
  width: 45vw;
  height: 50vh;
  flex-shrink: 0;
  background-color: #fff;
  padding: 20px;
  font-size: 30px;
  color: #FFF;
  display:flex;
  flex-direction:column;
  /* justify-content: center; */
  align-items: center;
  /* border-radius: 8px; */
  border: 3px solid #fff;
  background: #5523bd;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  max-width: 80%; /* Adjust as needed */
}

/* CSS for the close button */
.modal-close-button {
  /* position: absolute;
  top: 10px;
  right: 10px; */
  item-align: end;
  cursor: pointer;
}
