body {
  min-height: 100%;
  /* margin: 0; */
  font-family: NeoDunggeunmo Pro;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html {
  height: 100%;
  background: radial-gradient(ellipse, #1b2735 0%, #26154a 100%);
  /* overflow: hidden; */
}

.keytris_main_gradient {
  background: -webkit-linear-gradient(white, #38495a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}